<ion-view title="Login" id="page12" style="background-color:#E9E9F6;" class=" ">
    <ion-content padding="true" style="background: url(img/Z7ju1bDVS6Sk1kKGOeek_map.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="user.email">
                </label>
                <label class="item item-input " id="login-input7">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password">
                </label>
            </ion-list>
            <button id="login-button7" style="font-weight:600;" class=" button button-calm  button-block " ng-click="validateUser()">Log in</button>
            <a href="#/page11" id="login-button8" style="font-weight:600;color:#E42514;" class=" button button-assertive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>