<ion-view title="Tracker Home" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/pIYjFf4BQaKigd8xUnLT_logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="listOfMembers" id="trackerHome-button4" class=" button button-positive  button-block ">Track</a>
        <a ui-sref="myLocationMap" id="trackerHome-button4" class=" button button-positive  button-block ">Send My Location</a>
    </ion-content>
</ion-view>