<ion-view title="List of Members" id="page9" class=" ">
    <ion-content padding="true" class="has-header manual-ios-statusbar-padding">
        <ion-list id="listOfMembers-list1" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="listOfMembers-list-item1" ui-sref="trackingMap">
                <h2>Mom</h2>
                <i class="icon ion-android-navigate"></i>
            </ion-item>
            <ion-item class="item-avatar  " id="listOfMembers-list-item2">
                <h2>Daughter</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>